<h1>PO files</h1>
<table>
  <th>Name</th>
  <th>Messages</th>
  <% @pos.each do |po| %>
    <tr>
      <td><%= link_to po.name, :action => 'show', :id => po.id %></td>
      <td><%= po.count.to_s %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New', :action => 'new' %>

